############################
# Unity generated folders #
############################
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
#[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

############################
# Asset Store tools       #
############################
Assets/AssetStoreTools*

############################
# IDE / OS files          #
############################
.vscode/
.idea/
.vs/
.consulo/

############################
# Visual Studio / Rider   #
############################
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

############################
# Debug / symbols         #
############################
*.pdb
*.mdb
*.pidb.meta
*.pdb.meta
*.mdb.meta

############################
# Builds / packages       #
############################
*.apk
*.aab
*.unitypackage

############################
# Crashlytics             #
############################
crashlytics-build.properties

############################
# Media + Meta             #
############################
Assets/**/*.png
Assets/**/*.png.meta

Assets/**/*.jpg
Assets/**/*.jpg.meta

Assets/**/*.jpeg
Assets/**/*.jpeg.meta

Assets/**/*.tga
Assets/**/*.tga.meta

Assets/**/*.psd
Assets/**/*.psd.meta

Assets/**/*.svg
Assets/**/*.svg.meta

Assets/**/*.wav
Assets/**/*.wav.meta

Assets/**/*.mp3
Assets/**/*.mp3.meta

Assets/**/*.ogg
Assets/**/*.ogg.meta

Assets/**/*.aiff
Assets/**/*.aiff.meta

Assets/**/*.mp4
Assets/**/*.mp4.meta

Assets/**/*.mov
Assets/**/*.mov.meta

Assets/**/*.webm
Assets/**/*.webm.meta

############################
# TMP examples (optional) #
############################
Assets/TextMesh Pro/Examples & Extras/

############################
# Unity Scenes             #
############################
Assets/**/*.unity
Assets/**/*.unity.meta
Assets/*.unity
Assets/*.unity.meta

############################
# Unity Prefabs            #
############################
Assets/**/*.prefab
Assets/**/*.prefab.meta

############################
# Unity folder meta files  #
############################
Assets/**/.meta
